# Pandas - Operações

* Tópicos
    * Unique Values
    * Select Slices
    * Apply Functions
    * Sort Values

In [1]:
# Import Libraries

import numpy as np
import pandas as pd

# Init Dataframe

dic1 = {'col1':[1,2,3,4],
        'col2':[444,555,666,444],
        'col3':['abc','def','ghi','xyz']}

df = pd.DataFrame(dic1)

df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [8]:
# Unique values

print(df['col2'].unique())
print()

print(np.unique(df['col2']))
print()

# Number of unique values

print(df['col2'].nunique())
print()

# Count number of times a unique value appears

print(df['col2'].value_counts())
print()

# Select slices of Dataframe

df1 = df[(df['col1']>2) & (df['col2']==444)]
print(df1)
print()

[444 555 666]

[444 555 666]

3

444    2
555    1
666    1
Name: col2, dtype: int64

   col1  col2 col3
3     4   444  xyz

In [13]:
# Apply Functions: defined

def times2(x):
    return x*2

print(df['col1'].apply(times2))
print()

print(df['col3'].apply(len))
print()

print(df['col1'].sum())
print()

# Apply functions 2: lambda

print(df['col1'].apply(lambda x: x*x))
print()

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

10

0     1
1     4
2     9
3    16
Name: col1, dtype: int64

In [18]:
# Sorting Values

print(df)
print()

print(df.sort_values(by='col2'))
print()

# Pivot Table: Create Multilevel (same as dynamic table of Excel)

dic1 = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
        'C':['x','y','x','y','x','y'],
        'D':[1,3,2,5,4,1]}

df1 = pd.DataFrame(dic1)
print(df1)
print()

print(df1.pivot_table(values='D',index=['A', 'B'],columns=['C']))
print()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN